{% extends 'adminapp/master.html' %}
{% load static %}
{% block content %}

<div class="nxl-content">
    <!-- [ page-header ] start -->
    <div class="page-header">
        <div class="page-header-left d-flex align-items-center">
            <div class="page-header-title">
                <h5 class="m-b-10">Vehicle</h5>
            </div>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a href="{% url 'index' %}">Home</a></li>
                <li class="breadcrumb-item">Create Vehicle Lists</li>
            </ul>
        </div>
        <div class="page-header-right ms-auto">
            <div class="page-header-right-items">
                <div class="d-flex d-md-none">
                    <a href="javascript:void(0)" class="page-header-right-close-toggle">
                        <i class="feather-arrow-left me-2"></i>
                        <span>Back</span>
                    </a>
                </div>
                <div class="d-flex align-items-center gap-2 page-header-right-items-wrapper">
                    <div class="dropdown filter-dropdown">
                        <a class="btn btn-md btn-light-brand" data-bs-toggle="dropdown" data-bs-offset="0, 10"
                            data-bs-auto-close="outside">
                            <i class="feather-filter me-2"></i>
                            <span>Filter</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end">
                            <div class="dropdown-item">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="Role" checked="checked">
                                    <label class="custom-control-label c-pointer" for="Role">Role</label>
                                </div>
                            </div>
                            <div class="dropdown-item">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="Team" checked="checked">
                                    <label class="custom-control-label c-pointer" for="Team">Team</label>
                                </div>
                            </div>
                            <div class="dropdown-item">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="Email" checked="checked">
                                    <label class="custom-control-label c-pointer" for="Email">Email</label>
                                </div>
                            </div>
                            <div class="dropdown-item">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="Member" checked="checked">
                                    <label class="custom-control-label c-pointer" for="Member">Member</label>
                                </div>
                            </div>
                            <div class="dropdown-item">
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" class="custom-control-input" id="Recommendation"
                                        checked="checked">
                                    <label class="custom-control-label c-pointer"
                                        for="Recommendation">Recommendation</label>
                                </div>
                            </div>
                            <div class="dropdown-divider"></div>
                            <a href="javascript:void(0);" class="dropdown-item">
                                <i class="feather-plus me-3"></i>
                                <span>Create New</span>
                            </a>
                            <a href="javascript:void(0);" class="dropdown-item">
                                <i class="feather-filter me-3"></i>
                                <span>Manage Filter</span>
                            </a>
                        </div>
                    </div>
                    <a href="javascript:void(0);" class="btn btn-md btn-primary">
                        <i class="feather-plus me-2"></i>
                        <span>Add Vehicle</span>
                    </a>
                </div>
            </div>
            <div class="d-md-none d-flex align-items-center">
                <a href="javascript:void(0)" class="page-header-right-open-toggle">
                    <i class="feather-align-right fs-20"></i>
                </a>
            </div>
        </div>
    </div>
    <!-- [ page-header ] end -->

    <section class="section mt-5 mx-auto">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-11">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">General Form Elements</h5>
                        <!-- General Form Elements -->
                        <form method="post" enctype="multipart/form-data" class="mt-4">
                            {% csrf_token %}
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Vehicle Name</label>
                                <div class="col-sm-10">
                                    <input type="text" name="vehicle_name" value="{{ vehi1.vehicle_name }}"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Vehicle Type</label>
                                <div class="col-sm-10">
                                    <select class="form-select" name="vehicle_type" aria-label="Default select example">
                                        <option value="">Select Vehicle Type</option>
                                        {% for i in vtype %}
                                        <option value="{{ i.id }}" {% if i.id == vehi1.vehicle_type.id %}selected{%endif%}>
                                            {{ i.type_name }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Category</label>
                                <div class="col-sm-10">
                                    <select class="form-select" name="category" aria-label="Default select example">
                                        <option value="">Select Category</option>
                                        {% for i in cat %}
                                        <option value="{{ i.id }}" {% if i.id == vehi1.category.id %}selected{% endif %}>
                                            {{ i.category_name }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">City</label>
                                <div class="col-sm-10">
                                    <select class="form-select" name="city" aria-label="Default select example">
                                        <option value="">Select City</option>
                                        {% for i in city %}
                                        <option value="{{ i.id }}" {% if i.id == vehi1.city.id %}selected{% endif %}>
                                            {{ i.city_name }}
                                        </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputPassword" class="col-sm-2 col-form-label">Price Per Hour</label>
                                <div class="col-sm-10">
                                    <input type="number" name="price_per_hour" value="{{ vehi1.price_per_hour }}"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Description</label>
                                <div class="col-sm-10">
                                    <input type="text" name="description" value="{{ vehi1.description }}"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Is Available</label>
                                <div class="col-sm-10">
                                    <select name="is_available" class="form-control">
                                        <option value="">-- Select Availability --</option>
                                        <option value="Yes" {% if vehi1.is_available == "Yes" %}selected{% endif %}>Yes</option>
                                        <option value="No" {% if vehi1.is_available == "No" %}selected{% endif %}>No</option>
                                    </select>
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label for="inputText" class="col-sm-2 col-form-label">Created At</label>
                                <div class="col-sm-10">
                                    <input type="date" name="created_at" value="{{ vehi1.created_at|date:'Y-m-d'}}"
                                        class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Vehicle Image</label>
                                <div class="col-sm-10">
                                    <!-- Current Image -->
                                    {% if vehi1.vehicle_img %}
                                        <p>Current Image:</p>
                                        <img src="{{ vehi1.vehicle_img.url }}" height="100px" width="100px" class="mb-2"><br>
                                    {% else %}
                                        <p>No Image</p>
                                    {% endif %}
                                     
                                    <!-- Upload New Image -->
                                      <input type="file" name="vehicle_img" class="form-control">
                                </div>
                            </div>
                            <div class="row mb-3">
                                <label class="col-sm-2 col-form-label">Submit Button</label>
                                <div class="col-sm-10">
                                    <button type="submit" class="btn btn-primary">Submit Form</button>
                                </div>
                            </div>
                        </form><!-- End General Form Elements -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}